PORT=8000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123456
REDIS_USERNAME=default
REDIS_URI=redis://:123456@redis:6379 ## usually i use this in local 
secret_key="Secret_key"
JWT_SECRET="Secret"
ACCESS_TOKEN_SECRET="Secret"
REFRESH_SECRET=some_different_random_string_here
CLOUDINARY_NAME=test_cloud
CLOUDINARY_API_KEY=test_api_key
CLOUDINARY_API_SECRET=test_api_secret
instance_id=1
DATABASE_URL= YOUR_DATABSE_URL ## for postgre 
VITE_FRONTEND_URL=http://localhost:5173 ## defualt