PORT=8000
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=YOURPASSWORD
REDIS_URI=YOURREDISURI
secret_key=YOUR_SECRET_KEY
JWT_SECRET=YOUR_SECRET
ACCESS_TOKEN_SECRET=YOUR_SECRET_TOKEN
REFRESH_SECRET=some_different_random_string_here
CLOUDINARY_NAME=YOUR_CLOUDINARY_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
instance_id=YOUR_INSTANCE_ID
REDIS_CHANNEL=chat_events
MESSAGE_LIMIT=10
DATABASE_URL=YOUR_DATABASE_URI